$min-screen-size: 320; // Минимальная ширина экрана в пикселях
$container-size: 1200; // Ширина основного содержимого страницы
$is-full-screen: true; // Определяет, является ли страница широкоформатной