@font-face {
  font-family: NotoSansJP;
  src: url(/src/assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf)
    format('opentype');
}

@font-face {
  font-family: Roboto;
  src: url(/src/assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Sofia;
  src: url(/src/assets/fonts/Sofia/Sofia-Regular.ttf) format('truetype');
}
