@font-face {
  font-family: Roboto;
  src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Sofia;
  src: url('/src/assets/fonts/Sofia/Sofia-Regular.ttf') format('truetype');
}
