@use 'colors';
@use 'mixins';

@import './fonts.scss';
@import './headlines.scss';

* {
  box-sizing: border-box;
  color: colors.$text;
  line-height: 1.5em;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
