@use '../styles/mixins';
@use '../styles/functions';

$heartbeatMinSize: 0.8;
$heartbeatMaxSize: 1.2;
$heartbeatMap: (
  0: $heartbeatMinSize,
  25: $heartbeatMinSize,
  35: $heartbeatMaxSize,
  50: $heartbeatMaxSize - 0.2,
  65: $heartbeatMaxSize,
  75: $heartbeatMinSize,
  100: $heartbeatMinSize,
);

.root {
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  background: linear-gradient(
    45deg,
    functions.getColor('pink', '100'),
    functions.getColor('amber', '100'),
    functions.getColor('cyan', '100')
  );
  @include mixins.flexCenter;

  .title {
    color: functions.getColor('pink', '500');
    font-family: Sofia, cursive;
    font-size: 5em;

    @keyframes heartbeat {
      @each $key, $value in $heartbeatMap {
        #{$key}% {
          transform: scale($value);
        }
      }
    }

    .heart {
      display: inline-block;
      animation: heartbeat 1.1s linear infinite;
    }
  }
}
